footer.border-t.border-gray-100.mt-20.p-4.text-xs
  .mx-auto(class='w-10/12')
    p.text-right.text-gray-500.mb-2
      span.mr-4 
        a(href="/")
          |Home
      span.mr-4 About
      span Contact us
    p.text-right.text-gray-400 &copy; 2021 Blogger
