.border-b.border-gray-100.mb-8
    header.flex.items-center.justify-between.mx-auto.py-4(class="w-10/12")
        p.text-2xl.font-medium Blogger
        .text-sm.text-gray-600.flex.items-center
            p.mr-4 
                a(href="/")
                    |Home
            p.mr-4 About
            p Contact