doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css')
  title Dashboard
  body.w-full.bg-gradient-to-br.from-yellow-500.to-yellow-800.flex.items-center.justify-center.h-screen
    .flex.flex-col.rounded-md.shadow-md.bg-white(class='w-10/12 h-5/6')
        nav.p-2.px-5.border-b.border-gray-100.flex.justify-between.items-center
        span.text-base.font-medium.text-gray-800 Blogger Admin
        span
            img.h-10.w-10(src='/images/user.png')
        .flex.items-stretch.flex-grow
        aside.w-60.flex-shrink-0.border-r.border-gray-100
            a.bg-yellow-500.text-white.p-4.text-xs.block.cursor-pointer.uppercase All bogs
            a.p-4.text-xs.block.cursor-pointer.uppercase(class='hover:bg-gray-100') Create Blog
            a.p-4.text-xs.block.cursor-pointer.uppercase(class='hover:bg-gray-100') Edit Blog
        article.flex-grow-0.p-4
            h1.text-lg.font-medium.text-gray-700 All Blogs
            .my-4(class='w-7/12')
            .flex.mb-4
                .relative.w-44.h-28.overflow-auto.flex-shrink-0.mr-4.rounded
                img.w-full.h-full.absolute.top-0.right-0.bottom-0.left-0(src='/images/tour-3.jpg')
                .w-full.h-full.absolute.top-0.right-0.bottom-0.left-0.z-10.bg-gray-400.bg-opacity-40.opacity-0.flex.items-center.justify-between.px-12(class='hover:opacity-100')
                    span.h-8.w-8.rounded-full.bg-gray-100.p-2.flex.items-center.justify-center.cursor-pointer
                    img.w-full.h-full(src='/images/pencil.png')
                    span.h-8.w-8.rounded-full.bg-gray-100.p-2.flex.items-center.justify-center.cursor-pointer
                    img.w-full.h-full(src='/images/delete.png')
                .text-gray-700
                h4.text-sm.font-medium.mb-1
                    | Guest Post Marketplace - Accessily.com: Guest Posting
                p.text-sm
                    | All-In-One Blog Builder. Choose A Beautiful Template &amp; Start
                    | Your Blog Today! Create an Online Presence That Is Truly
                    | Yours and Share It With the World.
            .flex.mb-4
                .relative.w-44.h-28.overflow-auto.flex-shrink-0.mr-4.rounded
                img.w-full.h-full.absolute.top-0.right-0.bottom-0.left-0(src='/images/tour-3.jpg')
                .w-full.h-full.absolute.top-0.right-0.bottom-0.left-0.z-10.bg-gray-400.bg-opacity-40.opacity-0.flex.items-center.justify-between.px-12(class='hover:opacity-100')
                    span.h-8.w-8.rounded-full.bg-gray-100.p-2.flex.items-center.justify-center.cursor-pointer
                    img.w-full.h-full(src='/images/pencil.png')
                    span.h-8.w-8.rounded-full.bg-gray-100.p-2.flex.items-center.justify-center.cursor-pointer
                    img.w-full.h-full(src='/images/delete.png')
                .text-gray-700
                h4.text-sm.font-medium.mb-1
                    | Guest Post Marketplace - Accessily.com: Guest Posting
                p.text-sm
                    | All-In-One Blog Builder. Choose A Beautiful Template &amp; Start
                    | Your Blog Today! Create an Online Presence That Is Truly
                    | Yours and Share It With the World.
            .flex.mb-4
                .relative.w-44.h-28.overflow-auto.flex-shrink-0.mr-4.rounded
                img.w-full.h-full.absolute.top-0.right-0.bottom-0.left-0(src='/images/tour-3.jpg')
                .w-full.h-full.absolute.top-0.right-0.bottom-0.left-0.z-10.bg-gray-400.bg-opacity-40.opacity-0.flex.items-center.justify-between.px-12(class='hover:opacity-100')
                    span.h-8.w-8.rounded-full.bg-gray-100.p-2.flex.items-center.justify-center.cursor-pointer
                    img.w-full.h-full(src='/images/pencil.png')
                    span.h-8.w-8.rounded-full.bg-gray-100.p-2.flex.items-center.justify-center.cursor-pointer
                    img.w-full.h-full(src='/images/delete.png')
                .text-gray-700
                h4.text-sm.font-medium.mb-1
                    | Guest Post Marketplace - Accessily.com: Guest Posting
                p.text-sm
                    | All-In-One Blog Builder. Choose A Beautiful Template &amp; Start
                    | Your Blog Today! Create an Online Presence That Is Truly
                    | Yours and Share It With the World.
    div
